.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-bottom: 1%;
}

.App-link {
    color: #61dafb;
}

.form-container {
    margin: 0 auto;
    padding: 2rem;
    width: 500px;
    min-height: 80vh;
    text-align: center;
    /* border: 1px solid #b5b8bd; */
    -webkit-box-shadow: 0px 9px 23px -6px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px 9px 23px -6px rgba(0, 0, 0, 0.59);
    box-shadow: 0px 9px 23px -6px rgba(0, 0, 0, 0.59);
    overflow: hidden;
    /* border-radius:  */
}

.form-container .active {
    background: #8ff1e1;
    /* margin: 10px auto; */
    padding: 10px;
}

.form-container .form-field {
    position: relative;
}

.form-container h1 {
    /* border-bottom: 1px solid #b5b8bd; */
    margin: 20px 10px 20px 10px;
}

.form-container label {}

.form-container input {
    width: 50%;
    padding: 5px 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.form-container button {
    white-space: nowrap;
    display: inline-block;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 16px;
    color: white;
    background: teal;
    /* display: inline-block;
    background: teal;
    padding: 3px 10px;
    color: #fefefe;
    font-weight: 600; */
}

.form-container span {
    color: brown;
    margin-left: 10px;
    font-weight: 700;
}

.form-container pre {
    position: relative;
    margin: 20px auto;
    width: 70%;
    text-align: justify;
    padding: 20px;
    background: rgb(214, 212, 212);
}

.form-container .input-field {
    margin: 10px auto;
    width: 70%;
    text-align: justify;
    padding: 20px;
    background: rgb(214, 212, 212);
}


/* appear - on page load */

.fade-appear {
    opacity: 0;
    z-index: 1;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 1000ms linear;
}


/* enter */

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 5000ms linear 5000ms;
}


/* exit */

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 5000ms linear;
}

.fade-exit-done {
    opacity: 0;
}


/* Card */

.card-container {
    position: relative;
    /* max-width: 100%; */
    /* min-height: 50vh; */
    margin: 0 auto;
    /* background: yellow; */
}


/* 
=============================================
 CSS ANIMATION SLIDE ENTER 
============================================= 
*/


/*Start Enter State*/

.slide-enter {
    position: absolute;
    opacity: 0;
    transform: scale(.37) translate3d(-100%, 0, 0);
    z-index: 1;
}


/* End enter state  */

.slide-enter.slide-enter-active {
    opacity: 1;
    transform: scale(1) translateX(0%);
    transition: all 0.5s ease-in;
    color: red;
}


/* End enter done state  */

.slide-enter-done {
    transform: translateY(0%);
    color: red;
}


/* 
=============================================
 CSS ANIMATION SLIDE EXIT
============================================= 
*/

.slide-exit {
    transform: scale(1) translate3d(0, 0, 0);
}

.slide-exit.slide-exit-active {
    opacity: 0;
    transform: scale(.37) translate3d(100%, -10%, 0);
    transition: all 0.5s ease-in;
}

.slide-exit-done {
    transform: translate3d(100%, 0, 0);
    color: red;
}

.box-container {
    display: flex;
    flex-direction: column;
    /* max-width: 54em;
    min-width: 21em; */
    /* box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    border-radius: 6px;
    padding: 24px; */
}


/* ENTER TRANSITION */


/* Declare transition start properties*/


/* 
.slide-enter {
    transform: translateX(-100vw);
    opacity: 0;
    position: absolute;
} */


/* Declare transition properties */


/* .slide-enter.slide-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: all 300ms linear 300ms;
} */


/* EXIT TRANSITION */


/* .slide-exit {
    transform: translateX(0);
    opacity: 1;
}

.slide-exit.slide-exit-active {
    transform: translateX(100vw);
    opacity: 0;
    transition: all 300ms linear
} */